#header {
    height: 10vh;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

#siteList {
    display: flex;
    align-items: center;
    justify-content: center;

}

.siteDis {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.siteTitle {
    justify-self: center;
}
img {
  max-width: 100%;
  height: auto;
 
}
.siteCard {
    width: 50vw;
      border: 10px;
    border-color: red;
    background-color: gray;
}